<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Forums</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
        </environment>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">Forums</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Contact">CommonMark & Anti XSS Demo</a></li>                    
                        @*<li><a asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-controller="Forums" asp-action="Index">Forums</a></li>
                        <li><a asp-controller="Posts" asp-action="Index">Posts</a></li>*@
                        <li><a href="/api/Posts?forumId=1&page=1&pageSize=100">API Posts For Scoops</a></li>
                        <li><a href="/api/Forums">API Forums</a></li>
                        <li><a href="/api/HierarchyPosts/1">API hierarchy posts</a></li>
                        <li><a href="/api/UserReviews/GetUserReviewsForUser?userId=4989178a-4908-40a2-856e-63f587fb9e06">API User Review</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2016 - Forums</p>
            </footer>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"
                asp-fallback-src="~~/lib/toastr/toastr.min.js"
                asp-fallback-test="window.toastr">
        </script>
        @RenderSection("scripts", required: false)
    <script>
        toastr.options.timeOut = 0;
        function spawnNotification(theBody, theTitle, urlToOpen) {
            var options = {
                body: theBody,
                icon: "https://scontent.fsdv1-1.fna.fbcdn.net/hprofile-xtp1/v/t1.0-1/p50x50/12188890_883747905008065_6429536769254854140_n.png?oh=b7c77a5612b739c9782ad6fa128abb60&oe=578CC64C"
            }
            var n = new Notification(theTitle, options);
            n.onclick = function () {
                window.focus();
                n.close();
                //var windowObjectReference = window.open(urlToOpen, "WOOHOO! rotter");
                //windowObjectReference.focus();
            };
        }
        if ("Notification" in  window)
            Notification.requestPermission();
        var url = location.protocol === "https:" ? 'wss://' : "ws://" + location.hostname + (location.port ? ':' + location.port : '');

        var webSocket = new WebSocket(url + "/sockets")
        webSocket.onmessage = function (event) {
            toastr.success(event.data);
            if ("Notification" in window && Notification.permission === "granted")
                spawnNotification(event.data, "Update in rotter amigo", "/api/hierarchyposts/2101");
        }
        webSocket.onopen = function() {
            webSocket.send("2101");
        };
        webSocket.onclose = function(e) {
            console.log(e)
        }

        webSocket.onerror = function(e) {
            console.log(e)
        }
    </script>
    </body>
</html>
