@model object

@{
    ViewData["Title"] = "CommonMark & Anti XSS Demo";
}
<h2>@ViewData["Title"].</h2>

<form method="post" class="form-horizontal" role="form">
    <div class="row">
        <div class="col-xs-4">
            <textarea name="str" width="100%" rows="15" >@Model</textarea>
        </div>
        <div class="col-xs-4">
            @Model
        </div>
        <div class="col-xs-4">
            @Html.Raw(Model)
        </div>
    </div>

    <input type="submit" class="btn btn-primary"/>
</form>